*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body{
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}

button{
  border: none;
  background-color: transparent;
}

button:active{
   text-decoration: none;
}

button, a{
  cursor: pointer;
}