.ProductGallery{
  width: 25vw;
}

.ProductGalleryPopup{
  position: relative;
}

.ImageProduct{
  border-radius: 5px;
}

.Thumbnail{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.ImageThumb{
 max-width: 60px;
}

.Button{
  margin: 2px;
  max-height: 60px;
  min-width: 60px;
  border-radius: 5px;
  overflow: hidden;
}

.selectedBtn{
  margin: 0;
  border: 2px solid orange;
}

.selectedImage{
  filter: opacity(50%);
}

.Close{
  position: absolute;
  top: 0;
  right: -10%;
  background-color: transparent;
  
}

.next, .prev{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next{
  right: -15px;
}

.prev{
  left: -15px;
}

.BtnPopup{
  background-color: transparent;
}

@media (max-width: 999px){
  .ProductGallery{
    width: 40vw;
  }
}


@media (max-width: 600px){

  .ProductGallery{
    width: 100vw;
  }
  .Thumbnail{
    display: none;
  }

  .next, .prev{
    top: 40%;
    width: 40px;
    height: 40px;
  }

  .next{
    right: 10px;
  }

  .prev{
    left: 10px;
  }

  .ImageProduct{
    border-radius: 0;
  }
}