.ProductGallery{
  width: 25vw;
}

.ProductGallery button{
  cursor: pointer;
}

.ImageProduct{
  border-radius: 5px;
}

.Thumbnail{
  margin-top: 20px;
  display: flex;
  justify-content: space-between; 
}

.Button{
  margin: 2px;
  border: none;
  max-height: 60px;
  min-width: 60px;
  border-radius: 5px;
  overflow: hidden;
}

.selectedBtn{
  margin: 0;
  border: 2px solid orange;
}

.selectedImage{
  filter: opacity(50%);
}

.next, .prev{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgba(255, 255, 255, 0.37);
  position: absolute;
  top: -40%;
}

.next{
  top: 40%;
  right: 34%;
}

.prev{
  top: 40%;
  left: 35%;
}

.BtnPopup{
  border: none;
  background-color: transparent;
}
